{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}
{% block conteudo %}
  <article theme="dark">
    <h2>Login</h2>
    {% if form.errors %}
    <h4>Dados informados estão incorretos!</h4>
    {% else %}
    <h4>Use o formulário abaixo para entrar!</h4>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_div }}
      <input type="hidden" name="next" value="{{ next }}">
      <input type="submit" role="button" class="light" value="Entrar">
    </form>
  </article>
{% endblock %}