{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% if idioma %}
                {{ idioma }}
            {% else %}
                pt-br
            {% endif %}">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <style>
        #fundo{
            min-width: 100vw;
            min-height: 100vh;
            background-image: url("{% static 'img_base/loja.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<div id="fundo">
<header class="container" data-theme="dark">
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">
                <h1>🛍️<strong>{% trans 'Loja Ifro' %}</strong></h1>
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'listtodos' %}" class="secondary">{% trans 'Produtos' %}</a></li>
            {% if request.user.is_authenticated %}
            <li>
                <details class="dropdown">
                    <summary>
                        {{ request.user.first_name }}
                    </summary>
                    <ul dir="rtl">
                        <li><a href="{% url 'meuspedidos' %}">{% trans 'Meus Pedidos' %}</a></li>
                        <li>
                            <form action="{% url 'logoutuser' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" role="button"
                                       class="outline" value="Logout">
                            </form>
                        </li>
                    </ul>
                </details>
            </li>
            {% else %}
            <li>
                <details class="dropdown">
                    <summary>
                        {% trans 'Conta' %}
                    </summary>
                    <ul dir="rtl">
                        <li><a href="{% url 'loginuser' %}">{% trans 'Entrar' %}</a></li>
                        <li><a href="{% url 'cadusuario' %}">{% trans 'Cadastre-se' %}</a></li>
                    </ul>
                </details>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'carrinhodetalhe' %}">
                    🛒<span>{{ car|length }} itens</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main class="container">
  {% block conteudo %}{% endblock %}
</main>
</div>
  {% block scripts %} {% endblock %}
</body>
</html>