<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
<header class="container">
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">
                <h1>🛍️<strong>Loja Ifro</strong></h1>
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'listtodos' %}" class="secondary">Produtos</a></li>
            {% if request.user.is_authenticated %}
            <li>
                <details class="dropdown">
                    <summary>
                        {{ request.user.first_name }}
                    </summary>
                    <ul dir="rtl">
                        <li><a href="{% url 'meuspedidos' %}">Meus Pedidos</a></li>
                        <li>
                            <form action="{% url 'logoutuser' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" role="button"
                                       class="outline" value="Logout">
                            </form>
                        </li>
                    </ul>
                </details>
            </li>
            {% else %}
            <li>
                <details class="dropdown">
                    <summary>
                        Conta
                    </summary>
                    <ul dir="rtl">
                        <li><a href="{% url 'loginuser' %}">Entrar</a></li>
                        <li><a href="{% url 'cadusuario' %}">Cadastre-se</a></li>
                    </ul>
                </details>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'carrinhodetalhe' %}">
                    🛒<span>{{ car|length }} itens</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main class="container">
  {% block conteudo %}{% endblock %}
</main>

</body>
</html>