{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block titulo %} {% trans 'Seu Pedido' %} {% endblock %}

{% block conteudo %}
<article>
  <header>
    <h1>{% trans 'Obrigado por comprar conosco' %}</h1>
  </header>
  <table class="stripped">
    <thead data-theme="dark">
      <tr>
        <th>{% trans 'Imagem' %}</th>
        <th>{% trans 'Produto' %}</th>
        <th>{% trans 'Quantidade' %}</th>
        <th>{% trans 'Preço Unitário' %}</th>
        <th>{% trans 'Total' %} </th>
      </tr>
    </thead>
    <tbody>
    {% for item in pedido.itens_pedido.all %}
      {% with p=item.produto %}
        <tr>
          <td>
            <a href="{% url 'detalheprod' p.slug %}">
              <img src="{% if p.imagem %}
                       {{ p.imagem.url }}
                    {% else %}
                       {% static 'imagens/notfound.png' %}
                    {% endif %}" alt="imagem de {{ p.nome }}"
              width="80">
            </a>
          </td>
          <td>
            {{ p.nome }}
          </td>
          <td>
            {{ item.quantidade }}
          </td>
          <td>R${{ item.preco }}</td>
          <td>R${{ item.get_total }}</td>
        </tr>
      {% endwith %}
    {% endfor %}
    <tr>
      <td colspan="4">{% trans 'Total Geral' %}</td>
      <td colspan="2">R$ {{ pedido.get_total_geral }}</td>
    </tr>
    </tbody>
  </table>
  <div class="grid">
    <a href="{% url 'listtodos' %}" role="button" class="contrast">
      {% trans 'Continuar comprando...' %}
    </a>
    {% if not pedido.pago %}
      <a href="{% url 'processarpgt' pedido.id %}" role="button"
         class="primary">
         {% trans 'Efetuar pagamento' %}</a>
    {% endif %}
  </div>

</article>
{% endblock %}